* {
    font-family: Arial, Helvetica, sans-serif;
}


body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
    text-align: center;
    color: #333;
    margin: 0;
}


main {
    background-color: #eeefef;
}

.imgMain {
    display: block;
    margin: auto;
    height: auto;
    max-width: 100%;
    align-items: center;
}

.caption2,.caption1,.title-align {
    text-align: center;
}

.caption1 {
    padding-bottom: 20px;
}

.tribute-info{
    display: inline-block;
    text-align: center;
}

.tributeHeader {
    text-align: center;
}

.img-div {
    background-color: #fefffe;
    padding-top: 30px;
    padding-bottom: 30px;
}

.tributeLink {
    text-align: center;
}

.quote {
    text-align: center;
}



div#img-div {
    margin: 0 auto;
}

.tribute-info {
    align-items: center;
}

.title-align {
    padding-top: 40px;
    border-radius: 30px;
}

.tributeLink {
    padding-bottom: 30px;
}


.listItems {
    max-width: 550px;
    margin: 0 auto 50px auto;
    text-align: left;
    line-height: 1.6;
}

a {
    color: #4470AD;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}