* {
    font-family: Arial, Helvetica, sans-serif;
}

main {
    background-color: #eeefef;
}

.imgMain {
    display: block;
    margin: auto;
    height: auto;
    max-width: 100%;
    align-items: center;
}

.caption2,.caption1,.title-align {
    text-align: center;
}

.tribute-info{
    display: inline-block;
    text-align: center;
}

.tributeHeader {
    text-align: center;
}

.img-div {
    background-color: #fefffe;
    padding-top: 30px;
    padding-bottom: 30px;
}

.tributeLink {
    text-align: center;
}

.quote {
    text-align: center;
}

.listItems {
    text-align: center;
    align-items: center;
}

div#img-div {
    margin: 0 auto;
}

.tribute-info {
    align-items: center;
}

.title-align {
    padding-top: 40px;
}

.tributeLink {
    padding-bottom: 30px;
}